@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: v.$primary;
    width: 30.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    width: 100%;

    h3{
        color: v.$secondary-text;
        text-align: center;
        margin: 2.4rem auto;
    }
}

.sidebar__button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 2rem;

    button{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
        border: none;
        padding: 0.5rem;
        background-color: v.$primary;
        color: v.$secondary-text;
        font-size: v.$fs_textLarge;
        &:hover{
            cursor: pointer;
        }
    }
}

.sidebar__photo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    .photo-container{
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        img{
            width: 20rem;
            height: 20rem;
        }
    }
}

.sidebar__navegation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin: 0 0 2rem 0;

    a{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 2rem;
        font-size: v.$fs_textLarge;
        color: v.$secondary-text;
        &:hover{
            cursor: pointer;
            background-color: rgba(v.$secondary, 0.4);
        }
    }
}

.sidebar__social-media{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}