@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar{
    background-color: v.$primary;
    width: 100%;
}

.sidebar__header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.header__button{
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-btn, 
.sidebar-btn{
    background-color: v.$primary;
    border: none;
    padding: 1rem 1.5rem;
    font-size: v.$fs_textLarge;
    color: v.$secondary-text;
    border-radius: 2rem;
    transition: transform ease 0.3s;
    .icon-container{
        display: inline-block;
    }

    &:active{
        transform: scale(0.9);
        background-color:rgba(v.$secondary,0.4);
    }
}

.sidebar-btn{
    display: none;
}

.header__author-info{
    display: flex;
    align-items: center;
    padding: 1rem;
    .author-info__photo-container{
        display: none;
    }
    h3{
        color: v.$secondary-text;
        margin: 0;
    }
}

.sidebar__navegation{
    max-height: 0;
    overflow: hidden;
    margin: 0;
    transition: max-height ease 0.3s;
    &.active{
        display: flex;
        flex-direction: column;
        max-height: 50rem;
        padding: 2rem;
    }
    .navegation__item{
        display: block;
        padding: 2rem;
        font-size: v.$fs_textLarge;
        text-align: center;
        color: v.$secondary-text;
        margin: 0 0 2rem 0;
        border-radius: 0.5rem;
        &:active{
            background-color: rgba(v.$secondary, 0.4);
        }

    }
}

.sidebar__social-networks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: v.$primary;
    a{
        color: v.$secondary-text;
        font-size: 1.777rem;
        padding: 1rem;
        border-radius: 0.5rem;
        &:active{
            background-color: rgba(v.$secondary, 0.4);
        }
    }
}

.rotate{
    transform: rotate(180deg);
    transition: transform ease 0.5s;
}
